/* 공통 */

.high-light {
  background: cornflowerblue !important;
}

/* target */
#listLvl1-header,
#listLvl1-content,
#add-item-lvl1 {
  width: 100%;
}
#add-item-lvl1{
  padding: 0 5px;
}
/*  */
.listLvl1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
  border: 1px black solid;
  background: #fff;
  row-gap: 7px;
}

/* Level1: header */

.listLvl1-header {
  /* display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100%;
  column-gap: 5px;
  padding: 5px; */
}

.listLvl1-title {}

.icon-container {}

.add-icon {}

/* Level1: content */

.listLvl1-content {
  width: 100%;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.listLvl1-item {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  background: bisque;
  padding: 5px 10px;
}
.listLvl1-item-left{
  width: 100%;
}
.listLvl1-item-left, .listLvl1-item-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.icon-container {}

.listLvl1-item-icon {}

.add-item-lvl1 .listLvl1-item-left {
  margin-right: 25px;
}

#listLvl1-item-input {
  width: 100px;
  border: none;
}

.listLvl1-item-input-outer {
  width: 100%;
}

.listLvl1-item-title-outer {}

.listLvl1-item-title {}

.icon-container {}

.del-icon {}

.listLvl1-item-count-outer {}

.listLvl1-item-count {}