#listLvl2-header,
#listLvl2-content,
#add-item-lvl2{
  width: 100%;
}

.listLvl2 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
  border: 1px black solid;
  background: #fff;
  row-gap: 7px;
}

.listLvl2-header {
  /* display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100%;
  column-gap: 5px;
  padding: 5px; */
}

.listLvl2-header-left {
  /* 중복 */
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100%;
  column-gap: 5px;
  /* padding: 5px; */
}

.listLvl2-title .header-title {}

.icon-container {}

.add-icon {}

.listLvl2-header-right {}

.listLvl2-Count {}

.listLvl2-content {
  width: 100%;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.listLvl2-item {
  /* listLvl1-item 중복 */
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  /* background: bisque; */
  padding: 5px 10px;
}

.listLvl2-item-left, .listLvl2-item-right {
  /* .listLv1-item-left, .listLv1-item-right 중복 */
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.listLvl2-check {}

.listLvl2-item-title-outer {}

.listLv2-item-title {}

.listLvl2-item-time-outer {}

.listLv2-item-time {}

.listLvl2-item-pomo-icon icon-container {}

.listLv1-item-icon {}

.listLv2-item-pomo-count-outer {}

.listLv2-item-pomo-count {}

.listLvl2-item-time-count-outer {}

.listLv2-item-time-count {}

.listLvl2-item-status {}

.listLvl2-item-start {}

.listLvl2-item-pause {}

.listLvl2-item-stop {}

.listLvl2-item-status-del icon-container {}

.del-icon {}

.add-item-lvl2-container {
  display: flex;
  flex-direction: column;
  /* justify-items: center;
  align-items: center; */
  background: lightgray;
}

.add-item-lvl2-container>* {
  padding: 5px;
}

.add-listLvl2-header {
  width: 100%;
}

.add-listLvl2-header input {
  width: 100%;
}

/* 공통 */
input {
  padding: 5px 5px;
}

.add-listLvl2-body {}

.add-listLvl2-body input {
  width: 70px;
}

.add-listLvl2-pomo-title {}

.add-listLvl2-footer {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.btn {
  text-align: center;
  width: 100%;
  height: 30 px;
  line-height: 30px;
  margin-right: 10 px;
  border-radius: 4 px;
  border: 1 px black solid;
  background-color: #ffffff;
}

.add-btn {}

.cancle-btn {}